<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.back.dao.UserMapper">

    <resultMap type="User" id="UserResultMap">
        <id property="username" column="username" />
        <result property="loginString" column="login_string" />
        <result property="email" column="email" />
        <result property="phone" column="phone" />
        <result property="password" column="password" />
        <result property="nickname" column="nickname" />
        <result property="headImage" column="head_image" />
        <result property="innerFlag" column="inner_flag" />
        <result property="status" column="status" />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="lastLoginIp" column="last_login_ip" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Query_Column_List" >
        <if test="user.username!=null"> AND `username`=#{user.username}</if>
        <if test="user.loginString!=null"> AND `login_string`=#{user.loginString}</if>
        <if test="user.email!=null"> AND `email`=#{user.email}</if>
        <if test="user.phone!=null"> AND `phone`=#{user.phone}</if>
        <if test="user.password!=null"> AND `password`=#{user.password}</if>
        <if test="user.nickname!=null"> AND `nickname`=#{user.nickname}</if>
        <if test="user.headImage!=null"> AND `head_image`=#{user.headImage}</if>
        <if test="user.innerFlag!=null"> AND `inner_flag`=#{user.innerFlag}</if>
        <if test="user.status!=null"> AND `status`=#{user.status}</if>
        <if test="user.lastLoginTime!=null"> AND `last_login_ip`=#{user.lastLoginTime}</if>
        <if test="user.createTime!=null"> AND `create_time`=#{user.createTime}</if>
        <if test="user.updateTime!=null"> AND `update_time`=#{user.updateTime}</if>
    </sql>

    <insert id="save" parameterType="User">
        INSERT INTO `t_user`
        (
        `username`,
        `login_string`,
        `email`,
        `phone`,
        `password`,
        `nickname`,
        `head_image`,
        `inner_flag`,
        `status`,
        `last_login_time`,
        `last_login_ip`,
        `create_time`,
        `update_time`
        )
        VALUES (
        #{username},
        #{loginString},
        #{email},
        #{phone},
        #{password},
        #{nickname},
        #{headImage},
        #{innerFlag},
        #{status},
        #{lastLoginTime},
        #{lastLoginIp},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <update id="updateByUsername" parameterType="User">
        UPDATE `t_user`
        <set>
            `login_string`=#{loginString},
            `email`=#{email},
            `phone`=#{phone},
            `nickname`=#{nickname},
            `head_image`=#{headImage},
            `inner_flag`=#{innerFlag},
            `status`=#{status},
            `last_login_time`=#{lastLoginTime},
            `last_login_ip`=#{lastLoginIp},
            `create_time`=#{createTime},
            `update_time`=#{updateTime}
        </set>
        WHERE username = #{username}
    </update>

    <update id="updateSelectiveByUsername" parameterType="User">
        UPDATE `t_user`
        <set>
            <if test="loginString != null">`login_string`=#{loginString},</if>
            <if test="email != null and email != ''">`email`=#{email},</if>
            <if test="phone != null and phone != ''">`phone`=#{phone},</if>
            <if test="nickname != null and nickname != ''">`nickname`=#{nickname},</if>
            <if test="headImage != null and headImage != ''">`head_image`=#{headImage},</if>
            <if test="innerFlag != null">`inner_flag`=#{innerFlag},</if>
            <if test="status != null">`status`=#{status},</if>
            <if test="lastLoginTime != null">`last_login_time`=#{lastLoginTime},</if>
            <if test="lastLoginIp != null">`last_login_ip`=#{lastLoginIp},</if>
            <if test="createTime != null">`create_time`=#{createTime},</if>
            <if test="updateTime != null">`update_time`=#{updateTime},</if>
        </set>
        WHERE username = #{username}
    </update>

    <select id="getByUsername" parameterType="string" resultMap="UserResultMap">
        SELECT * FROM `t_user`
        <where>
            username = #{username}
        </where>
    </select>

    <select id="getPageList" parameterType="User" resultMap="UserResultMap">
        SELECT * FROM `t_user`
        <where>
            1=1
            <include refid="Base_Query_Column_List" />
        </where>

        <if test="pageInfo != null">
            <if test="pageInfo.orderColumn!=null">
                ORDER BY `${pageInfo.orderColumn[0]}` ${pageInfo.orderDesc[0]}
            </if>
            <if test="pageInfo.orderColumn==null">
                ORDER BY sort_value DESC, `create_time` DESC
            </if>

            LIMIT #{pageInfo.firstResult}, #{pageInfo.pageSize}
        </if>
    </select>

    <select id="getPageCount" parameterType="User" resultType="int">
        SELECT count(id) FROM `t_user`
        <where>
            1=1
            <include refid="Base_Query_Column_List" />
        </where>
    </select>

</mapper>
